# Sakila EDA - DuckDB + Pandas

In [5]:
import duckdb

con = duckdb.connect("../data/sakila.duckdb")
con.sql("SET search_path='staging';")
describe = con.sql("desc;").df()

In [6]:
describe

,database,schema,name,column_names,column_types,temporary
0,sakila,staging,_dlt_loads,"[load_id, schema_name, status, inserted_at, sc...","[VARCHAR, VARCHAR, BIGINT, TIMESTAMP WITH TIME...",False
1,sakila,staging,_dlt_pipeline_state,"[version, engine_version, pipeline_name, state...","[BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP W...",False
2,sakila,staging,_dlt_version,"[version, engine_version, inserted_at, schema_...","[BIGINT, BIGINT, TIMESTAMP WITH TIME ZONE, VAR...",False
3,sakila,staging,actor,"[actor_id, first_name, last_name, last_update,...","[DECIMAL(38,9), VARCHAR, VARCHAR, TIMESTAMP, V...",False
4,sakila,staging,address,"[address_id, address, address2, district, city...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, VA...",False
5,sakila,staging,category,"[category_id, name, last_update, _dlt_load_id,...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
6,sakila,staging,city,"[city_id, city, country_id, last_update, _dlt_...","[BIGINT, VARCHAR, BIGINT, TIMESTAMP, VARCHAR, ...",False
7,sakila,staging,country,"[country_id, country, last_update, _dlt_load_i...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
8,sakila,staging,customer,"[customer_id, store_id, first_name, last_name,...","[BIGINT, BIGINT, VARCHAR, VARCHAR, VARCHAR, BI...",False
9,sakila,staging,film,"[film_id, title, description, release_year, la...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, BI...",False
10,sakila,staging,film_actor,"[actor_id, film_id, last_update, _dlt_load_id,...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",False
11,sakila,staging,film_category,"[film_id, category_id, last_update, _dlt_load_...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",False
12,sakila,staging,inventory,"[inventory_id, film_id, store_id, last_update,...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, V...",False
13,sakila,staging,language,"[language_id, name, last_update, _dlt_load_id,...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
14,sakila,staging,payment,"[payment_id, customer_id, staff_id, rental_id,...","[BIGINT, BIGINT, BIGINT, BIGINT, DECIMAL(5,2),...",False
15,sakila,staging,rental,"[rental_id, rental_date, inventory_id, custome...","[BIGINT, TIMESTAMP, BIGINT, BIGINT, TIMESTAMP,...",False
16,sakila,staging,staff,"[staff_id, first_name, last_name, address_id, ...","[BIGINT, VARCHAR, VARCHAR, BIGINT, BLOB, VARCH...",False
17,sakila,staging,store,"[store_id, manager_staff_id, address_id, last_...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, V...",False

### a) Which movies are longer than three hours? (Showing title and length)

In [ ]:
con.sql("""--sql
SELECT
    title,
    length
FROM film
WHERE length > 180
ORDER BY length DESC;
""").df()

                 title  length
0         WORST BANGER     185
1        CHICAGO NORTH     185
2       CONTROL ANTHEM     185
3       DARN FORRESTER     185
4    SWEET BROTHERHOOD     185
5          GANGS PRIDE     185
6            HOME PITY     185
7   SOLDIERS EVOLUTION     185
8         POND SEATTLE     185
9        MUSCLE BRIGHT     185
10     MOONWALKER FOOL     184
11      THEORY MERMAID     184
12   CONSPIRACY SPIRIT     184
13    CRYSTAL BREAKING     184
14      SORORITY QUEEN     184
15      SONS INTERVIEW     184
16     SMOOCHY CONTROL     184
17      KING EVOLUTION     184
18      YOUNG LANGUAGE     183
19       SCALAWAG DUCK     183
20      FRONTIER CABIN     183
21       CATCH AMISTAD     183
22           WIFE TURN     183
23       MONSOON CAUSE     182
24       RECORDS ZORRO     182
25          REDS POCUS     182
26         SATURN NAME     182
27      SEARCHERS WAIT     182
28     BAKED CLEOPATRA     182
29       LOVE SUICIDES     181
30      LAWLESS VISION     181
31  RUNAWAY TENENBAUMS     181
32       JACKET FRISCO     181
33      INTRIGUE WORST     181
34     HOTEL HAPPINESS     181
35    HAUNTING PIANIST     181
36      STAR OPERATION     181
37         WILD APOLLO     181
38    ANALYZE HOOSIERS     181

### Which movies have the word "love" in its title? (Showing title, rating, length, description)

In [ ]:
con.sql("""--sql
SELECT
	title,
    rating
    
""")